html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  background: #429E9D;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}


.content-wrapper {
  width: 1920px;
  height: 1080px;
  position: relative;
  overflow: hidden;
  background-color: #429E9D;
}


.scrollable-content {
  width: 100%;
  height: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  position: relative;
}


.radial {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
  pointer-events: none;
}
.food{
position: absolute;
left: 350px;
top: 150px;
}
.right{
  position: absolute;
  left:280px ;
  top: 190px;
  
}
.left{
  position: absolute;
  top:95px;
  bottom:auto;
  right: 205px;;
}


#rightswipe {
  width: 900px;
  height: 900px;
  cursor: pointer;
  transition: transform 0.3s ease-out;
}


#rightswipe:hover {
  transform: scale(1.1); 
}


#rightswipe.clicked {
  transform: translateX(100vw); 
  transition: transform 2s ease-out; 
}


#leftswipe {
  width: 800px;
  height: 800px;
  cursor: pointer;
  transition: transform 0.3s ease-out;
}


#leftswipe:hover {
  transform: scale(1.1); 
}


#leftswipe.clicked {
  transform: translateX(-100vw); 
  transition: transform 2s ease-out; 
}

.star1 {
  animation: rotation 8s infinite linear;
position: absolute;
bottom: 570px;
}

.star2{
  animation: rotation 8s infinite linear;
position: absolute;
left:600px ;
bottom: 70px;
}

.star3{
  animation: rotation 8s infinite linear;
position: absolute;
left: 1050px;
bottom:550px;
}
.words{
  position: absolute;
  left: 500px;
  top: 70px;
}

.green1, .green2, .green3, .green4 {
  position: absolute;
  transition: transform 0.2s ease-out;
  will-change: transform;
}
.green1{
  position: absolute;
  top: 500px;
  right:0;
}

.green2{
  position: absolute;
  top: 600px;
  right: 1100px; ;
}

.green3{
  position: absolute;
  left: 0;
}

.green4{
  position: absolute;
  right: 0;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
 
  @media screen and (max-width: 768px){}
 @media screen and (min-width: 769px) and (max-width: 1024px){}  

@media screen and (min-width: 1025px){}
  